#repetir_accion {
    display: none;
}

input#other-text {
    position: relative;
    width: 140px;
    /* left: 8px; */
    height: auto;
    z-index: -1;
    border-right-color: transparent;
}

select {
    position: absolute;
    width: 170px !important;
    height: auto;
    z-index: 0;
}